<div id="filterrific_results" class="conversations-wrap">
  <div id="messages_contact_list_scroll">
    <% users.each do |user| %>
      <% if user != current_user %>
        <%= link_to(user_chats_path(current_user, :other_user => user.id), method: :post) do %>
          <div class="conversation-item rounded border my-2 cursor-p p-3 row m-0">
            <!-- avatar -->
            <div class="col-auto px-0">
              <% if user.profile.blank?%>
                <div class="avatar"
                     style="background-image: url(<%= image_path('no_profile.png') %>)">
                </div>
              <% else %>
                <div class="avatar"
                       style="background-image: url(<%= user.profile.profile_photo ? user.profile.profile_photo: image_path('no_profile.png') %>)">
                </div>
              <% end %>
            </div>

            <div class="col">      
              <!-- name -->
              <div class="name">
                <%= user.firstname %>
              </div>

              <div class="occupation">
                occupation
              </div>
            </div>
            
            <div class="col-auto px-0">
              <div class="last-visit">
                last visit
              </div>

              <div class="unread-messages text-right">
                <div class="red-circle">
                  1
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
