<% if current_user.id == message.user_id%>
  <div class="d-flex justify-content-end mb-4">
    <div class="msg_cotainer_send">
      <%=message.content%>
    </div>
    <div class="img_cont_msg">

    </div>
  </div>

<% else %>
  <div class="d-flex justify-content-start mb-4">
    <div class="img_cont_msg">
      <img src="<%= Profile.find_by(:user_id => message.user_id).profile_photo%> " class="rounded-circle user_img_msg">
    </div>
    <div class="msg_cotainer">
      <%=message.content%>
      <!-- <span class="msg_time">9:07 AM, Today</span> -->
    </div>
  </div>
<% end %>
