<% if current_user.id != message.user_id %>
  <div class="row message mx-0 mb-2">
    <div class="col-auto px-0">
      <div>
        <div class="avatar"
             style="background-image: url(<%= Profile.find_by(:user_id => message.user_id).profile_photo %>)">
        </div>
      </div>

      <div class="message-time text-center mt-1">
        10:05
      </div>
    </div>
    <div class="col">
      <div class="message-content">
        <%=message.content%>
      </div>
    </div>
  </div>
<% else %>
  <div class="message mb-2">
    <div class="text-right">
      <div class="message-content active text-left">
        <%=message.content%>
      </div>
    </div>
  </div>
<% end %>
