<div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Interests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body_terms">
        <div class="modalCategories redcel">
          <div class="addInterests redcel">
            <div class="title redcel">
              Add an interest
            </div>
            <div class="redcel">  
            </div>
            <div class="searchCategory redcel">
              Aca va el input para buscar
            </div>
            <div class="newCategoryMessage redcel">
              Can't find a category? <span class="createCategory"> Create a new category.</span>
            </div>
          </div>          
          <div class="title redcel">
            Your interests
          </div>
          <div class="categoriesGrid redcel">
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
            <div class="category redcel">
              Game design
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
