<div class="modal fade" id="editprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times; </span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Nav tabs -->
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#explore">Explore (Interests)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#guide">Guide (Skills)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#project">Projects</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content scroll" style="margin-top: 20px">
            <%= render 'edit_about' %>
            <!-- Explore Tab -->
            <%= render 'edit_explore' %>
            <!--Guide Tab -->
            <%= render 'edit_guide' %>
            <!-- Project Tab -->
            <%= render 'edit_project' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>


    $(document).ready(function(){
        $("input[type=file]").change(function(e){
            var storage = firebase.storage();
            var storageRef = firebase.storage().ref();
            if(e.target.id == "pro_photo"){
                var file=document.getElementById("pro_photo").files[0];
                var thisref = storageRef.child("profile/"+file.name).put(file);

            }
            else if(e.target.id == "ban_photo"){
                var file=document.getElementById("ban_photo").files[0];
                var thisref = storageRef.child("banner/"+file.name).put(file);
            }
            else{
                var file=document.getElementById("project_photo").files[0];
                var thisref = storageRef.child("project/"+file.name).put(file);
            }

            thisref.on('state_changed',function(snapshot){
                console.log("File Uploaded Successfully");
            },function (error) {

            },function() {
                thisref.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                    if(e.target.id=="pro_photo")
                    {
                        profile = document.getElementById("profile_photo").value = downloadURL;
                    }
                    else if(e.target.id == "ban_photo") {
                        banner = document.getElementById("banner_photo").value = downloadURL;
                    }
                    else {
                        image = document.getElementById("image").value = downloadURL;
                    }
                    alert("\nFile is here successfully");
                })});
        });
    });
</script>