<button data-toggle="modal" data-target="#createProjectsModal" type="button" id="addProjectBtn" class="btn btn-outline-secondary mt-3">
	<span class="icon">
		<i class="material-icons">add</i>
	</span>

	<span class="text">
		Add Project
	</span>
</button>

<%= render 'projects/list_project'%>

<%= render 'create_project' %>
<%= render 'edit_project' %>
