<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="category">
    <div class="modal-content medium-size">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag({:controller => 'categories', :action => :create, :method => :post },remote: true) do %>
          <div class="modal-body ">
              <div>
                  <div>
                    <p class="fw-400 c-black fz-15">Reminder: all categories must follow 1oh1's community policy and will be reviewed before being accesable to other users. We will notify you on the status of your submission.
                    </p>
                  </div>

                  <div class="form-group">
                    <label for="">Category Name</label>
                    <input type="text" class="form-control" name="name">
                    <span class="c-dark-gray fw-400 fz-13">Be specific. For example, use plano instead of music.</span>
                  </div>

                  <div class="form-group">
                    <label for="">Category Description</label>
                    <input type="txtArea" rows="3" class="form-control" name="description">
                    <span class="c-dark-gray fw-400 fz-13">Publically describe the category.</span>
                  </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" class="btn btn-success" data-disable-with="Submitting...">Submit</button>
                </div>
          </div>
        <% end %>

    </div>
  </div>
</div>
