<div class="profile-pic-ui d-none" id="profile-pic-ui">
	<div class="profile-pic"
		 id="profile-pic"
		 style="background-image: url(<%= image_path('People/asian.jpg') %>);">
		<div class="profile-info-children-wrap">
			<div class="profile-info-name">
				Lisa Leurenko
			</div>
			<div class="profile-info-city">
				Vancouver, Canada
			</div>
		</div>
	</div>
	<div class="profile-info">
		<div class="profile-info-categories">
			<div class="row m-0">
				<div class="col text-center">
					<p class="text-center">7</p>
					<p class="text-center secondary-text">Explore</p>
				</div>
				<div class="col text-center">
					<p class="text-center">7</p>
					<p class="text-center secondary-text">Guide</p>
				</div>
				<div class="col text-center">
					<p class="text-center">7</p>
					<p class="text-center secondary-text">Projects</p>
				</div>
			</div>

			<div class="row">
				<div class="col calnedar-btn-wrap">
					<button class="btn btn-success calnedar-btn">Calendar</button>
				</div>
			</div>
		</div>
	</div>
</div>
