<nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <!-- sidebar-brand  -->
            <div class="sidebar-item sidebar-brand">
                <a href="#"></a>
            </div>
            <!-- sidebar-header  -->
            <div class="gridperfil ">
                  <div class=" perfil"><img class="imgperfil" src="<%= image_path('People/beautiful-1274056_640.jpg')  %>"></div>
                  <di class=" name"><p class="txtname">Jimi Hendrix</p></di>
                  <div class=" imgicon">
                    <i class="material-icons icons linkProfile">home</i>
                  </div>
                  <div href="/profiles" class="celroja">
                    <a href="/profiles" class="txtcolor linkProfile">Profile</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkMessages">forum</i>
                  </div>
                  <div class="celroja">
                    <a href="/messages" class="txtcolor linkMessages">Messages</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkCalendar">insert_invitation</i>
                  </div>
                  <div class="celroja">
                    <a href="/calendars" class="txtcolor linkCalendar">Calendar</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkSessions">people</i>
                  </div>
                  <div class="celroja">
                    <a href="/bookings" class="txtcolor linkSessions">My Sessions</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkChest">email</i>
                  </div>
                  <div class="celroja">
                    <a class="txtcolor linkChest">Chest</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkSettings">settings</i>
                  </div>
                  <div class="celroja">
                    <a class="txtcolor linkSettings">Settings</a>
                  </div>

            
            </div>
        </div>
        <!-- sidebar-footer  -->
        <div class="sidebar-footer">
            
            <div>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
            <div class="pinned-footer">
                <a href="#">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            </div>
        </div>
    </nav>