<nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <!-- sidebar-brand  -->
            <div class="sidebar-item sidebar-brand">
                <a href="#"></a>
            </div>
            <!-- sidebar-header  -->
            <div class="gridperfil ">
                  <div class=" perfil">
                    <% if current_user.profile.blank? %>
                      <img  class="imgperfil" src="<%= image_path('no_profile.png') %>">
                    <% else %>
                      <img  class="imgperfil" src="<%= current_user.profile.profile_photo ? current_user.profile.profile_photo : image_path('no_profile.png')%>">
                    <% end %>
                  </div>
                  <di class=" name"><p class="txtname"><%= current_user.firstname %></p></di>
                  <div class=" imgicon">
                    <i class="material-icons icons linkProfile">home</i>
                  </div>
                  <div href="/profiles" class="celroja">
                    <a href="/profiles" class="txtcolor linkProfile">Profile</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkMessages">forum</i>
                  </div>
                  <div class="celroja">
                    <a href="/messages" class="txtcolor linkMessages">Messages</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkCalendar">insert_invitation</i>
                  </div>
                  <div class="celroja">
                    <a href="/calendars" class="txtcolor linkCalendar">Calendar</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkSessions">people</i>
                  </div>
                  <div class="celroja">
                    <a href="/bookings" class="txtcolor linkSessions">My Sessions</a>
                  </div>
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkChest">email</i>
                  </div>
                  <div class="celroja">
                    <a href="/chests" class="txtcolor linkChest">Chest</a>
                  </div>
                  <!-- <div class="celroja imgicon">
                    <i class="material-icons icons linkSettings">settings</i>
                  </div>
                  <div class="celroja">
                    <a class="txtcolor linkSettings">Settings</a>
                  </div> -->
                  <div class="celroja imgicon">
                    <i class="material-icons icons linkHelp">help</i>
                  </div>
                  <div class="celroja">
                    <a href="/helps" class="txtcolor linkHelp">Quick Help</a>
                  </div>


            </div>
        </div>
    </nav>
