<div class="last-page"
	style="background-image:url(<%= image_path('Section/jump_in.png')%>)">
	<div class="button-group">
		<a class="btn btn-link p-2" href="/profile/availabilty">Back</a>

		<button type="button" class="btn btn-success p-2">Let's go!</button>
	</div>
</div>