<p class="font-weight-bold">
	Skills
</p>

<!--  search container -->
<div class="row">
  <div class="col">
  	<div class="input-group custom-from-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>

        <input type="text" class="form-control" placeholder="Oil painting, 3D printing, Electric cars etc.">
  	</div>
  </div>
  <div class="col-auto">
  	<div>
  		<span class="fz-12">Cant find something?</span>
  	</div>
  	<div>
  		<a href="#" class="fz-12">Add a new category.</a>
  	</div>
  </div>
</div>

<!-- guiding container -->
<div class="my-5 p-3 border rounded position-relative" id="guiding-item-container">
	<div class="row mx-0 explore-item">
		<div class="col">
			<div>
				<div class="row">
					<div class="col-auto pl-0">
						<img width="100px" height="100px" src="<%= image_path('Skills/poly.jpg')%>" alt="poly">
					</div>
					<div class="col pr-0">
						<h5 class="font-weight-bold explore-item-head">Photo shop</h5>
						<p class="explore-item-sub-head">260 Guiding</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-auto pr-0">
			<button type="button" class="btn btn-success p-2 addExploreBtn">Add</button>
		</div>
	</div>

	<div class="row mx-0 explore-item">
		<div class="col">
			<div>
				<div class="row">
					<div class="col-auto pl-0">
						<img width="100px" height="100px" src="<%= image_path('Skills/poly.jpg')%>" alt="poly">
					</div>
					<div class="col pr-0">
						<h5 class="font-weight-bold explore-item-head">Photo shop</h5>
						<p class="explore-item-sub-head">260 Guiding</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-auto pr-0">
			<button type="button" class="btn btn-success p-2 addExploreBtn">Add</button>
		</div>
	</div>

	<div class="row mx-0 explore-item">
		<div class="col">
			<div>
				<div class="row">
					<div class="col-auto pl-0">
						<img width="100px" height="100px" src="<%= image_path('Skills/poly.jpg')%>" alt="poly">
					</div>
					<div class="col pr-0">
						<h5 class="font-weight-bold explore-item-head">Photo shop</h5>
						<p class="explore-item-sub-head">260 Guiding</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-auto pr-0">
			<button type="button" class="btn btn-success p-2 addExploreBtn">Add</button>
		</div>
	</div>


	<div class="row mx-0 explore-item">
		<div class="col">
			<div>
				<div class="row">
					<div class="col-auto pl-0">
						<img width="100px" height="100px" src="<%= image_path('Skills/poly.jpg')%>" alt="poly">
					</div>
					<div class="col pr-0">
						<h5 class="font-weight-bold explore-item-head">Photo shop</h5>
						<p class="explore-item-sub-head">260 Guiding</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-auto pr-0">
			<button type="button" class="btn btn-success p-2 addExploreBtn">Add</button>
		</div>
	</div>
</div>
