<div class="profile-navbar memberview-navbar">
    <%= render 'landing/navbar' %>
</div>
<div class="memberview default-theme sidebar-bg bg1 profileActive">
	<main class="page-content">
	    <div id="overlay" class="overlay"></div>
	    <div class="mainContent">
	        <%= render 'memberview_profile' %>
	    </div>
	</main>
</div>

<%= render 'landing/footer'%>
