<div class="gooey-wrap d-none">
	<div class="gooey">
	  <span class="dot"></span>
	  <div class="dots">
	    <span></span>
	    <span></span>
	    <span></span>
			<h5>Loading</h5>
	  </div>
	</div>
</div>
