<div class="modal fade" id="newEventMultipleTimeSelect" tabindex="-1" role="dialog" aria-labelledby="newEventMultipleTimeSelect" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="time-conflict-icon mt-3">
            <i class="material-icons">close</i>
        </div>
        <h3 class="mt-3"><b>Multiple Sessions</b></h3>
        <p class="my-2">
            Sorry, you are trying to book multiple sessions and that's not permited.</a>
        </p>
        <p>
          Please select one time slot and then start booking.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
