<!-- new event dialog -->
<div class="modal fade" id="newEventDialog" tabindex="-1" role="dialog" aria-labelledby="newEventDialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= render 'form' , booking: @booking %>
    </div>
  </div>
</div>
