<div class="modal fade mt-5" id="preRunningLate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag do %>
        <div class="modal-header">
            <div class="container">
              <!-- start: details receiver chat -->
                <div class="detailsReceiver">
                  <span class="stylesDetails">To:</span>
                  <span class="stylesDetails">James Douglas</span>
                </div>
              <!-- end: details receiver chat -->
            </div>
        </div>
        <!-- start: body  -->
        <div class="modal-body customModalBoddySessions">
          <div class="container">
            <div class="chatAreaSession">
              <textarea name="chat" id="" cols="30" rows="10">James, I am runnig late! I will be there shortly. -Bell</textarea>
              <span class="characterCounter">142</span>
            </div>
            <div class="noteChatSession">
              <p>Note: Tolken exchange will begin at the start of
                the sessions regardless of your attendance.
              </p>
            </div>
            <div class="containerBtnChatSession">
              <button class="btn w-100 btnModalSessionConfirm">Send</button>
            </div>
          </div>
        </div>
        <!-- end: body  -->
        <div class="modal-footer containerCancelMessage">
          <a class="linkCancelMessage">Back</a>
        </div>
      <% end %>      
    </div>
  </div>
</div>
