<div class="modal fade" id="modalPre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="category">
          <div class="modal-content">
           
              <button type="button" class="close closePre" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          
            <div class="modal-body gridModalPre5">
                <div class="titlePre">
                  <h3 class="titleHeads">Heads ups!</h3>
                </div>
                <div class="subTitlePre">
                  <h5 class="titleSessions">Your Logo Design session starts in <b class="preHours">4:55</b> </h5>
                </div>
                <div class="imgPre">
                  <img class="imgPreAdult" src="<%= image_path('People/adult.jpg')  %>">
                  
                </div>
                <div class=" preDescription">
                  <span>with james Douglas</span>
                </div>
                <div class="btnPre">
                  <button type="button" class="btnPreRed">Join</button>
                </div>
                <div class="cgridBtnPre">
                  <div class="btnPreRunning">
                    <button type="button" class="preRunning">I'm running latel</button>
                  </div>
                  <div class="btnPreCancel">
                    <button type="button" class="preCancel">Cancel session</button>
                  </div>
                </div>
                
            </div>
            
          </div>
        </div>
      </div>