nav
<div class="container containerSessionCancelated">

    <div class="containerTitleCancelated">
        <h3> You have cancelled the session </h3>
    </div>

    <div class="containerNoteCancellation">
        <form action="">
            <label for="" class="noteCancellationLabel">Send a note to James Douglas</label>
            <textarea name="" id="" cols="30" rows="10" class="noteCancellationTxtArea">James, Appoligies for the late cancellation. I hope we can reschedule soon.-Bell.</textarea>
            <button class="noteCancellationSubmit btn">Send</button>
        </form>
    </div>

    <div class="containerDetailsCancellation">
        <div class="col-left">
            <h6 class="detailsCancellationText">Tokens</h6>
            <h6>Cost of session: <span class="detailsCancellationText d-inline">120</span></h6>
            <h6>New balance: <span class="detailsCancellationText d-inline">680</span></h6>
            <button class="btn btnDetailsCancellation">Review Chest</button>
        </div>
        <div class="col-right">
            <button class="btn btnCloseCancellation">Close</button>
        </div>
    </div>
</div>
footer