<script src="/javascripts/signaling-server.js" type="text/javascript"></script>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Video Conferencing</h1>

      <div>Random User ID:
      <span id="current-user"><%= @random_number %></span>
      </div>

      <div id="remote-video-container"></div>
      <video id="local-video" autoplay></video>

      <hr />

      <button onclick="handleJoinSession()">
      Join Room
      </button>

      <button onclick="handleLeaveSession()">
      Leave Room
      </button>

      <button data-toggle="modal" data-target="#preRunningLate">pre runnin late</button>
      <button data-toggle="modal" data-target="#preRunningLateSent">pre runnin late sent</button>
      <button data-toggle="modal" data-target="#preCancelationWarning">Pre cancelation warning</button>
    </div>



  </div>
</div>

<%= render 'pre_running_late' %>
<%= render 'pre_running_late_sent' %>
<%= render 'pre_cancelation_warning' %>
