<div class="loading-1o1">
	<div class="fading-circle fading-circle-left"></div>
	<div class="fading-circle fading-circle-right"></div>
	<div class="circle">			
		<div class="inner-circle"></div>
	</div>
</div>
