<div class="modal fade"
	id="bookingApproveDialog"
	tabindex="-1"
	role="dialog"
	aria-labelledby="bookingApproveDialog"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header px-5">
		        <h4 class="modal-title">Confirm Booking</h6>

		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>

			<div class="modal-body px-5 position-relative">
				<div class="bookingApproveDialog-avatar">
					<span class="fz-14">with Bell Throne</span>
					<img class="rounded-circle"
			             height="80px"
			             width="80px"
			             src="<%=image_path('People/asian-square.jpg')%>" alt="asian">
				</div>

	        	<h4 class="mt-2">Your Role: Guide</h4>
				<h4>Subject: Logo Design</h4>

				<div class="row mt-3">
					<div class="col">
						<h6 class="fz-13 mt-4">Details</h6>
						<p class="fz-14 mt-2 mb-0">
							<i class="material-icons align-middle mr-3">today</i>
							<span class="today-placeholder align-middle">July 4th</span>
						</p>

						<p class="fz-14">
							<i class="material-icons align-middle mr-3">access_time</i>
							<span class="start-time-placeholder align-middle">4:30PM</span>
							<span class="align-middle"> - </span>
							<span class="end-time-placeholder align-middle">5:30PM</span>
							<span class="align-middle">PST</span>
						</p>
					</div>
					<div class="col">
						<h6 class="fz-13 mt-4">Price</h6>

						<p class="fz-14 m-0">
							<span class="align-middle mr-5 ">Current balance:</span>
							<span class="align-middle float-right">
								<span class="session-const-placeholder align-middle">480</span>
								<img class="align-middle" width="25px" src="<%= image_path('coin.png') %>" alt="coin"/>
							</span>
						</p>

						<p class="fz-14 m-0">
							<span class="align-middle mr-5 ">Session cost:</span>
							<span class="align-middle float-right">
								<span class="session-const-placeholder align-middle">120</span>
								<img class="align-middle" width="25px" src="<%= image_path('coin.png') %>" alt="coin"/>
							</span>
						</p>

						<p class="fz-14 m-0">
							<span class="align-middle mr-5 ">Balance remaining:</span>
							<span class="align-middle float-right">
								<span class="session-const-placeholder align-middle">360</span>
								<img class="align-middle" width="25px" src="<%= image_path('coin.png') %>" alt="coin"/>
							</span>
						</p>
					</div>	
				</div>

				<p class="border bookingApproveDialog-description mt-4 fz-14">
					<i class="material-icons">menu_open</i>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum provident quos id consequuntur voluptatum debitis laboriosam obcaecati nulla illum laborum, quia, sed qui incidunt eius voluptatem quisquam repudiandae facere. Voluptate?
				</p>
	        </div>
		    
			<div class="modal-footer border-0 px-5">
		      <button type="button" class="btn btn-primary">Approve</button>
		      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
		    </div>
		</div>
	</div>
</div>