<div class="modal fade" id="declineBookingDialog" tabindex="-1" role="dialog" aria-labelledby="declineBookingDialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header px-5">
		        <h4 class="modal-title">Decline Booking</h6>

		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>

		    <div class="modal-body px-5 position-relative">
				<p>you are about to decline a booking request, are you sure you would like to continue?</p>
		    </div>

		    <div class="modal-footer border-0 px-5">
					<!--deleted-->
		      <button type="button" class="btn btn-danger" id="cancel_decline" data-dismiss="modal">
		      	Cancel
		      </button>
		    </div>
		</div>
	</div>
</div>
