<!-- <div class="modal fade" id="newEventDialog" tabindex="-1" role="dialog" aria-labelledby="newEventDialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    </div>
  </div>
</div> -->

<div class="modal fade"
	 id="editEventDialog"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="editEventDialog"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
      <%= render 'edit_form' , booking: @booking %>
    </div>
  </div>
</div>
