<div class="wrapCardSession">
    <div class="card container sessionCardCustom">
        <div class="card-body">
            <div class="containerSessionVid">
                <%= image_tag('People/women.jpg', :class => 'img-fluid imageSession') %>
                <div class="toolsIcons isHide customPreSession">
                    <!-- mute icon song -->
                    <a href="">
                        <img src="<%= image_path('Icons/iconsu-nmute.png')  %>" class="callIcons icon-1">
                    </a>

                    <!-- mute icon video  -->
                    <a href="">
                        <img src="<%= image_path('Icons/nvideo.png')  %>" class="callIcons icon-2">
                    </a>

                    <!-- options  -->
                    <a href="">
                        <i class="material-icons icon-3">more_vert</i>
                    </a>
                </div>
            </div>
            <div class="optionsSession">
                <span class="textBottomVid">Ready to join?</span>
                <div class="buttonsOptions">
                    <button class="btn btnSmall direction-l">Join</button>
                    <button class="btn btnBig">Running late!</button>
                    <button class="btn btnSmall direction-r">Cancel</button>
                </div>
                <h6 class="timeDetails">Starting in:<span class="time">01:03</span></h6>
            </div>
        </div>
        <div class="card-footer">
            <div class="userDetails">
                <%= image_tag('People/pretty-2111498_640.jpg', :class => 'img-fluid') %>
                <div class="details">
                    <h4 class="title">Logo Design</h4>
                    <span class="descriptionSession">with Dan Black</span>
                </div>
            </div>
            <div class="sessionDetails">
                <span class="desc-top">Your role: Explorer</span>
                <span class="desc-bottom">Duration: 30 Minutes</span>
            </div>
        </div>
    </div>
</div>
