<div class="modal fade" id="modalChat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="sizePreLate" role="document" id="category">
      <div  class="modal-content">
    
        <div class="modal-body gridModalChat">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="closeChat" aria-hidden="true">&times;</span>
              </button>
            <div class="chatProfile">
                <div class="">
                    <img class="imgChat" src="<%= image_path('People/adult.jpg')  %> ">
                </div>
                <div class="nameTo">
                  <span class="nameProfileChat"> To: Dan Black</span>
                </div>
                <div class="celverde"></div>
            </div>
            <div class="celverde textareaChat">
                <textarea class="txtareaChat">Sorry, I am running late! will be there soon!            -ashton</textarea>
            </div> 
            <div class=" celverde gridbtnChat">
               <div class=""></div>
               <div class="btnCancelChat">
                    <button type="button" class="cancelChat">Cancel</button>
               </div>
               <div class="btnSendChat">
                    <button type="button" class="sendChat">Send</button>
               </div> 
                
                
            </div>  
        </div> 
      </div>
    </div>
  </div>