<div class="modal fade" id="modalFrom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="sizePreLateSent" role="document" id="category">
      <div  class="modal-content">
    
        <div class="modal-body gridModalChat">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="closeChat" aria-hidden="true">&times;</span>
              </button>
            <div class="gridFrom">
                <div class="">
                    <img class="imgChat" src="<%= image_path('People/adult.jpg')  %> ">
                </div>
                <div class="nameChat">
                  <span class="nameFrom"> From: Dan Black</span>
                </div>
                <div class=""></div>
            </div>
            <div class="textareaChat" >
                <textarea class="txtareaChat" readonly>Sorry, I am running late! will be there soon!   </textarea>
            </div> 
            <div class="answerChat">
                <span>Note: Tolken exchange will begin at the start of the 
                      sessions regardless of your attendence
                </span>
              </div>
            <div class="gridbtnFrom">
               <div class="btnCloseFrom">
                    <button type="button" class="closeFrom">Close</button>
               </div>
                
                
            </div>  
        </div> 
      </div>
    </div>
  </div>