<div class="modal fade problemReportedModal" id="problemReported" tabindex="-1" role="dialog" aria-labelledby="problemReported" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">      
      <div class="modal-body grid-problemReported">
        <div class="problemReportedIconCont">          
          <img class="problemReportedIcon" src="<%= image_path('icons8-email-send-100.png')%>">
        </div>
        <div class="problemReportedTitle">
          Problem Reported
        </div>
        <div class="problemReportedText">
          Your problem has been sent to our team and we will be looking into it shorty. Sorry for the inconvience.
        </div>
        <div class="problemReportedCloseLinkCont">
          <a href="" class="problemReportedCloseLink">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>