
<!-- Modal -->
<div class="modal fade reportProblemModal" id="reportProblem" tabindex="-1" role="dialog" aria-labelledby="reportProblem" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content reportProblemModalContent">
      <!-- --  -->
      <div class="modal-header">
        <h5 class="modal-title text-secondary text-center" id="exampleModalLabel">Report Problem</h5>
        <div class="reportProblemBack">Back</div>
      </div>
      <div class="modal-body grid-reportProblem">
        <div class="dateInputReportProblemCont">
          <input class="dateInputReportProblem" type="date" name="">
        </div>
        <div class="whoReportProblem">Who:</div>
        <div class="whoReportProblemName">Dan Black</div>
        <div class="reportProblemIssueTitle">Issue:</div>

        <div class="reportProblemType">Technical issue</div>
        <div class="reportProblemTypeCheckbox"><input class="reportProblemTypeCheckboxItem" type="checkbox" name=""></div>

        <div class="reportProblemType">False identity</div>
        <div class="reportProblemTypeCheckbox"><input class="reportProblemTypeCheckboxItem" type="checkbox" name=""></div>

        <div class="reportProblemType">Harasment</div>
        <div class="reportProblemTypeCheckbox"><input class="reportProblemTypeCheckboxItem" type="checkbox" name=""></div>

        <div class="reportProblemDescriptionTitle">Description</div>
        <div class="reportProblemTextArea">
          <textarea class="reportProblemTextAreaItem" placeholder="Please provide information regarding the problem" rows="6"></textarea>
        </div>
        <div class="reportProblemButtons">
          <div class="buttosReportProblem">
            <button class="reportPorblemCancelButton">Cancel</button>
            <button class="reportPorblemSubmitButton" data-toggle="modal" data-target="#problemReported">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'bookings/problem_reported' %>
