<div class="modal fade" id="modalSent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="category">
      <div id="sizeSessionLate" class="modal-content">
    
        <div class="modal-body gridModalChat">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="closeChat" aria-hidden="true">&times;</span>
            </button>
            <div class="gridModalSent">
                <div class="iconSent">
                    <i class="material-icons sentIcon">send</i>
                </div>
                <div class="messageSent">
                    <h4>Message Sent</h4>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>