<div class="modal fade" id="modalPre5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="category">
          <div class="modal-content">
           
              <button type="button" class="close closePre closePre5" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          
            <div class="modal-body gridModalPre5">
                <div class="titlePre5">
                  <h3 class="titleHeads5 opensans">Your session is about to start!</h3>
                </div>
                <div class="containPre5">
                  <div class="subTitlePre align-bottom">
                    <h5 class="titleSessionsPre5 opensans semibold"><b>Photoshop</b></h5>
                  </div>
                  <div class="headerContainPre5">
                    <div class="imgPre5">
                      <img class="imgPreAdult boximage" src="<%= image_path('People/adult.jpg')  %>">
                    </div>  
                    <div class="align-bottom withrol">
                      <span>with james Douglas</span>
                    </div>
                    <div class="grid-rol-durationPre5 withrol">
                      <div class="align-bottom">
                        <span>Your Role:Explorer</span>
                      </div>
                      <div class="align-bottom">
                        <span>Duration:30 Minutes</span>
                      </div>
                    </div>
                  </div>
                  <div class="pre5Time align-bottom opensans semibold">
                    <h3>Starts in:<span>04:59</span></h3>
                  </div>
                  <div class="gridBottom">
                    <div></div>
                    <div>
                      <button type="button" class="btnPreGreen">Join</button>
                    </div>
                     <div>
                      <button type="button" class="btnTransparent">Running late!</button>
                    </div>
                     <div>
                      <button type="button" class="btnTransparent">Cancel</button>
                    </div>
                    <div></div>
                  </div>
                  <div class="pre5Reminder">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores assumenda labore mollitia, vel animi inventore eum ex nihil enim quia! Maxime eos, ducimus, possimus tempora commodi nulla sapiente autem dolorum.</p>
                  </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>