<!-- Start: header chat  -->
<div class="chatHeader">
  <div id="forChatHeader">
      <i id="chatIcon" class="material-icons">keyboard_arrow_left</i>
      <div class="chatTitle">Guitar</div>
      <div class="chatSub">From: <%= @other_user.firstname %></div>
  </div>
</div>
<!-- End: Header chat  -->

<!-- Start: Body chat  -->
<div id="userIdInfo" style="display: none;"><%= current_user.id %></div>
<div class="card-body msg_card_body">

    <!-- <div class="d-flex justify-content-start mb-4">
      <div class="img_cont_msg">
        <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
      </div>
      <div class="msg_cotainer">
        Hi, how are you samim?
        <span class="msg_time">8:40 AM, Today</span>
      </div>
    </div>

    <div class="d-flex justify-content-end mb-4">
      <div class="msg_cotainer_send">
        I love 1Oh1, I've learned so many things for free!
        <span class="msg_time_send">8:55 AM, Today</span>
      </div>
      <div class="img_cont_msg">
      </div>
    </div> -->

    <div>
        <% if @chat.messages.any? %>
          <div id="messages">
            <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
          </div>
        <% else %>
          <div id="messages">
          </div>
        <% end %>
      </div>

  </div> 
<!-- End: Body chat  -->

<!-- Start: Footer chat  -->
<div class="inputChat">
    <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat,other_user: params[:other_user]}%>
</div>
<!-- End: Footer chat  -->

<script>
  createMessageChannel();
  // app/assets/javascripts/channels/messages.js
  messageForm();
  // app/assets/javascripts/messages_form.js
</script>
