<div class="modal fade"
	id="canceledDialogBox"
	tabindex="-1"
	role="dialog"
	aria-labelledby="canceledDialogBox"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<h4 class="text-center">Your session has been cancelled</h4>
			<div class="mt-4 text-center">
				<button type="button" class="btn btn-danger px-5" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>