<div class="modal fade" id="deleteUnavailableTimeDialog" tabindex="-1" role="dialog" aria-labelledby="deleteUnavailableTimeDialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <%= render 'edit_unavailable' , booking: @booking %>
    </div>
  </div>
</div>
