<div class="privacyPolicySection">
	<div class="sectionLegalTitle">Cookies Policy </div>

	<div class="sectionLegalSubtitleXS">Authentication	</div>
	If you’re signed in to 1oh1, cookies help us show you the right information and personalize your experience.
	<div class="sectionLegalSubtitleXS">Security</div>
	We use cookies to enable and support our security features and to help us detect malicious activity and violations of our User Agreement.
	<div class="sectionLegalSubtitleXS">Preferences, features and services</div>
	Cookies can tell us which language you prefer and what your communications preferences are. They can help you fill out forms on 1oh1 more easily. They also provide you with features, insights, and customized content in conjunction with our plugins. You can learn more about plugins in our Privacy Policy.
	<div class="sectionLegalSubtitleXS">Advertising	</div>
	We may use cookies to show you relevant advertising both on and off the 1oh1 site. We may also use a cookie to learn whether someone who saw an ad later visited and took an action (e.g. downloaded a white paper or made a purchase) on the advertiser’s site. Similarly, our partners may use a cookie to determine whether we’ve shown an ad and how it performed, or provide us with information about how you interact with ads. We may also work with a partner to show you an ad on or off 1oh1, such as after you’ve visited a partner’s site or application.
    <div class="sectionLegalSubtitle">Performance, Analytics and Research</div>
    Cookies help us learn how well our site and plugins perform in different locations. We also use cookies to understand, improve, and research products, features, and services, including when you access 1oh1 from other websites, applications, or devices such as your work computer or your mobile device.<br><br>
    Cookies and other ad technology such as beacons, pixels, and tags help us serve relevant ads to you more effectively. They also help us provide aggregated auditing, research, and reporting for advertisers, understand and improve our service, and know when content has been shown to you. Note: Because your web browser may request advertisements and beacons directly from third party ad network servers, these networks can view, edit, or set third-party cookies, just as if you had requested a web page from their site. Ads served by 1oh1 may also set third-party cookies.<br><br>
    If you are logged in on 1oh1.org or another Service that references this Cookie Policy or browsing a third party partner site of 1oh1 and one of our cookies on your device identifies you, your usage (such as your browsing behavior) and log data (such as your IP address), will be associated by us with your account as noted in Sections 1.3 and 1.4 of our Privacy Policy. We also use aggregate data from third parties and data from your profile and 1oh1 activity.<br><br>
    If you are a 1oh1 member but logged out of your account on a browser, 1oh1 may still continue to log your interaction with our services on that browser for up to 30 days in order to generate usage analytics for our services, which analytics we may share in aggregate form with our advertising customers.<br><br>
    Unless you clear these cookies from your browser, we may use this information to:<br><br>
    <ul>
        <li>provide more relevant, interest-based advertising</li>
        <li>provide aggregate reports of ads activity to advertisers and websites hosting the ads</li>
        <li>help website and app owners understand how visitors engage with their sites or apps</li>
        <li>detect and defend against fraud and other risks to protect users and partners</li>
        <li>improve our products</li>
    </ul> 
</div>