<!-- Start: head  -->
<div class="AccountHead">
    <div class="text">
        <span>You're the boss.</span>
    </div>
    <div class="subtitleContent">
        <h5>Email</h5>
    </div>
    <div class="emailsContainer">
        <div class="containerDetails"><span>ashton@1oh1.org</span> <span class="optionEmail">Primary</span></div>
        <div class="containerDetails"><span>ashton@1oh1.com</span> <span class="optionEmail">Remove|Primary</span></div>
        <div class="optionAddEmail">add+</div>
    </div>
</div>
<!-- End: head  -->

<!-- Start: body  -->
<div class="AccountBody">
    <div class="contentContainer">
        <div>
            <h5>Change password</h5>
        </div>
        <form action="" class="containerForm">
            <div class="group-form">
                <label for="">Current password</label>
                <input type="text">
            </div>
            <div class=" group-form">
                <label for="">New password</label>
                <input type="text group-form">
            </div>
            <div class="group-form">
                <label for="">Re-type new password</label>
                <input type="text">
            </div>
            <div class="">
                <button class="btn w-100 btnSubmitAccount">Submit</button>
            </div>
        </form>
    </div>


</div>
<!-- End: body  -->

<div class="AccountFooter">
    <div>
        <h5>Phone</h5>
        <span>Coming soon</span>
    </div>
    <!-- --  -->
    <div>
        <h5>Two-step verification</h5>
        <span>Coming soon</span>
    </div>
</div>