<div class="containerCommunication">
	<div class="sectionControlEmails">
		<span>Too many emails? Control what you receive.</span>
		<span class="titleSectionsHelp">Messages</span>
		<div class="sectionReceive">
			<span class="txtSectionHelp">Receive emails for new messages</span>
			<input type="checkbox" class="receivecheck">
		</div>
	</div>
	<div class="sectionBooking">
		<span class="titleSectionsHelp">Booking</span>
		<div class="optionsBooking">
			<span class="txtSectionHelp">Booking request</span>
			<input type="checkbox" class="receivecheck">
		</div>
		<div class="optionsBooking">
			<span class="txtSectionHelp">Change request</span>
			<input type="checkbox" class="receivecheck">
		</div>
		<div class="optionsBooking">
			<span class="txtSectionHelp">Change in session details</span>
			<input type="checkbox" class="receivecheck">
		</div>
		<div class="optionsBooking">
			<span class="txtSectionHelp">Booking pending approval</span>
			<input type="checkbox" class="receivecheck">
		</div>
		<div class="optionsBooking">
			<span class="txtSectionHelp">Request accepted</span>
			<input type="checkbox" class="receivecheck">
		</div>

	</div>
	<div class="sectionSessionsHelp">
		<div class="">
			<span class="titleSectionsHelp" >Sessions</span>
		</div>
		<div class="sessionsRemind">
			<div class="">
				<span class="txtSectionHelp">Reming me</span>
			</div>
			<div class="help30">
				<span class="txtSectionHelp">30</span>
			</div>
			<div class="">
				<span class="txtSectionHelp">minutes before the start</span>
			</div>
				<input type="checkbox" class="receivecheck">
		</div>
		<div class="sessionsAdd">
			<a href="#" class="textAddSession"> add+</a>
		</div>
	</div>
	<div class="sectionRatingHelp">
		<div class="">
			<span class="titleSectionsHelp">Rating</span>
		</div>
		<div class="helpRating">
			<span class="txtSectionHelp">New rating</span>
			<input type="checkbox" class="receivecheck">
		</div>
	</div>
	<div class="sectionOtherHelp">
		<div class="">
			<span class="titleSectionsHelp">Other</span>
		</div>
		<div class="helpOther">
			<span class="txtSectionHelp"> News letter</span>
			<input type="checkbox" class="receivecheck">
		</div>
		<div class="helpOther">
			<span class="txtSectionHelp">Category and project suggestions</span>
			<input type="checkbox" class="receivecheck">
		</div>
	</div>
</div>

