<div class="privacyPolicySection">
	<div class="sectionLegalSubtitle">1oh1 Professional Community Policies</div>

	<div class="sectionLegalSubtitleXS">Effective July 15, 2019</div>
	1oh1 is a company that aims to put its members first when it comes to making important decisions. To ensure we can properly help our members be more productive and successful, 1oh1 has put in place these Professional Community Policies outlining the activities that are acceptable on the Services, and what is inappropriate and may be stopped by 1oh1. These rules are intended to provide guidance and restrictions governing your use of, and participation in, our Services.

	<div class="sectionLegalSubtitle">1. Be Real</div>
	Our members need to be real people, who provide their real names and accurate information about themselves. It is not okay to provide misleading information about yourself or your qualifications, work experience, affiliations, or achievements on our Services.
	<div class="specificTitle">Impersonation</div>
	You may not impersonate others on the Services or mislead, confuse, or deceive others. Pretending to be someone else or to be representing a business in a way that is not truthful is not allowed. You are not allowed to use someone else's name, image, or other personal information to deceive others into thinking you are someone other than yourself or associated with a business or organization when you are not. You also may not use or attempt to use another individual's 1oh1 account or create a member profile for anyone other than yourself (a real person). (The fact that in the rare cases 1oh1 may allow clearly fictional profiles with express prior permission does not waive our right to prohibit your false profile or association with a business or organization.)
	<div class="specificTitle">Misrepresentation</div>
	You may not misrepresent your identity or information or mislead, confuse, or deceive others. Do not provide inaccurate information. When choosing a profile picture, you may not use an image that is not your likeness or a head-shot photo for your profile. Also, you may not manipulate identifiers in order to disguise the origin of any message or post transmitted through the Services.
	<div class="sectionLegalSubtitle">1.4 Change</div>
    We may modify this Contract, our Privacy Policy and our Cookies Policies from time to time. If we make material changes to it, we will provide you notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. We agree that changes cannot be retroactive. If you object to any changes, you may close your account. Your continued use of our Services after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms.
    <div class="sectionLegalSubtitleXS">2. Be Professional.</div>
    We acknowledge the value of discussions around professional activities and ask our members to behave professionally by not being dishonest or inappropriate. When creating content on the Services, we ask that you keep your content professional, relevant, and on-topic. Do not share false information or use the Services to shock or intimidate others. And it is not okay to share graphic, obscene, or pornographic content on the Services.
	<div class="specificTitle">Image Use</div>
    We provide you with the opportunity to add a photograph to your profile to help others recognize you. Your photo can be removed by LinkedIn if your profile image doesn't include your likeness or a headshot photo. Some examples of photos that shouldn't be used are:<br><br>
    <ul> 
        1. Company Logos
        2. Landscapes
        3. Animals
        4. Words or phrases
    </ul>
    All photos must comply with our User Agreement If we remove your photo, you can upload a different photo of yourself to remedy this situation. If we remove your photo 3 times, you won't be able to upload a photo to your profile again.<br><br>
	<div class="specificTitle">Honesty and Authenticity</div>
    Be honest, forthright, and respectful. Do not share comments, opinions, or other content in a manner that is intended to be misleading or inaccurate or to conceal a conflict of interest or unlawful motive. You may not use the Services to share false content or information, including news stories, that presents untrue or unverified facts or events as though they are true or likely true. When you share content or endorse someone or something in exchange for personal benefit (including personal or family relationships, monetary payment, free products or services, or other value), you must include a clear and conspicuous notice of the personal benefit you receive.
	<div class="specificTitle">Relevance </div>
    Your messages, posts, comments, and other content must be on-topic and relevant. The Services provide a professional community for sharing professional content and information, so do not post or otherwise provide content that is irrelevant or inappropriate.
	<div class="specificTitle">Adult Content</div>
	It's not acceptable to post content containing nudity, sexually explicit material, or pornography. Some adult content may be allowed in an educational, medical, scientific, or professional artistic context so long as it is not gratuitously graphic. The Services are never to be used for sexual exploitation of children. You also may not post content that threatens sexual violence or sexual assault. You may not use the Services to engage in or promote escort services, prostitution, or human trafficking.

	<div class="sectionLegalSubtitleXS">3. Be Nice.</div>
    We strive to maintain a safe and friendly community for our members. The Services shouldn't be used to harm others or their career or business prospects or to air personal grievances and disputes. It is not okay to use the Services to harass, abuse, or send other unwelcome communications to people (e.g., romantic advances, sexually explicit content, junk mail, spam, chain letters, phishing schemes). We do not allow hate speech acts like attacking people because of their race, ethnicity, national origin, gender, sexual orientation, political or religious affiliations, or medical or physical condition. Also, hate groups, terrorists, and those who engage in violent crimes are not welcome and not permitted on the Services.

    <div class="sectionLegalSubtitleXS">4. Respect Others' Rights and Follow the Law.</div>
    Before sharing or using someone else's copyrighted works, trademarks, private information, or trade secrets, please make sure you have the legal right to do so. The Services should not be used for illegal activities, promoting illegal products or to violate the rights of others. Don't use the Services to commit fraud or to try to trick others. Also, don't use the Services to intentionally distribute viruses, worms or other software that can destroy or interrupt others' data or computer devices.

	<div class="specificTitle">Privacy and Publicity</div>
    You must respect others' privacy on the Services. You may not solicit email addresses or other personal information from 1oh1 members you don't know without authorization; use, disclose or distribute any data obtained in violation of any of our policies or agreements; disclose information that you do not have the consent to disclose (such as personal or confidential information of others, including your employer); or post or distribute content depicting children without the necessary consent from such child's legal guardian or parent. Do not use others' names, likenesses or photos to suggest an endorsement of a product, service or investment without their prior consent.
	<div class="specificTitle">Compliance with Law</div>
    Your use of the Services must comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements. You may not use the Services to create or operate a pyramid scheme, engage in fraud, or to sell or promote illegal drugs.
	<div class="specificTitle">Copyright and Trademark</div>
    We respect the intellectual property rights of others and do not allow copyright infringement. You may not violate the intellectual property rights of others, including copyrights, patents, trademarks, trade secrets, or other proprietary rights. For example, do not copy or distribute (except through the available sharing functionality) the posts or other content of others without their permission, which they may give by posting under a Creative Commons license. 
	<div class="sectionLegalSubtitleXS">5.  Respect 1oh1’s Rights. </div>
	Don't violate the rights of 1oh1. You can find more information about what this means in our User Agreement. It is also not okay to suggest that you are affiliated with or endorsed by 1oh1 when you are not. Do not violate our intellectual property rights, scrape the Services, or interfere with or disrupt the Services.
	<div class="specificTitle">Unauthorized Access and Use</div>
	You may access the Services solely in the manner that we expressly authorize, for the tasks that the Services are intended for. You may not access the Services except through the interfaces intentionally provided by 1oh1, such as its mobile applications.
	<div class="specificTitle">Interference with the Service </div>
	You may not interfere with the functionality of, or our rights in, the Services. You may not remove any copyright, trademark or other proprietary rights notices contained in or on the Services.

    <div class="specificTitle">Respect Our Rules </div>
    You must follow the spirit and letter of our rules, agreements, and policies. You may not violate any additional terms concerning the specific Services that are provided when you sign up for or start using such Services.
</div>