<div class="privacyPolicySection">
	<div class="sectionLegalTitle">Refund Policy </div>
	<b class="sizehelps">Important:</b> Payments are non-refundable, including fees and other charges. Please see additional details below.
	<div class="sectionLegalSubtitleXS">Subscriptions</div>
	1oh1 Subscriptions, such as Tourist, Voyager, and Globetrotter, are non-refundable. If you cancel your subscription, all of your  features will expire at the end of your billing cycle.
	<div class="sectionLegalSubtitleXS">Pay-per-coin products</div>
	Pay-per-coin products are products that charge the users for a set value of site currency (“Guide Coins”), ex. 120 G’s, 240 G’s, etc. Any actions delivered and charged are non-refundable.
	<div class="sectionLegalSubtitleXS">Sessions</div>
    Coin refunds are dependant on time and vary depending on the stage that the booking is currently in. To ensure proper planning for site users, coins or funds will be deducted as penalties (described in detail below) to uphold communication and responsibility in order to increase the user experience. <br><br>
    <ul>
        <b class="sizehelps">1. Penalty Payments</b><br>
        The payment amount will be deducted from the user's coins from their profile (“Chest”). If the user does not have a sufficient amount of coins for the penalty, the remaining amount will be charged to the user's credit card at a rate of $1 per 8 coin.<br><br>
        <b class="sizehelps">2. Pending Confirmation</b><br>
        If a user has placed a booking request and the other user has not responded (“Confirm Request” or “Decline Request’) within 6 hours before the beginning of the session, the other user will be charged 20% of the booking amount due to insufficient response time. <br><br>
        <b class="sizehelps">3. Confirmed Booking</b><br>
        If a Session has been book and a user cancels within 3 hours before the beginning of the session, the user who cancels will be charged 100% of the session cost. 
    </ul>
    <div class="specificTitle">Laws</div>
    Under the laws applicable in your jurisdiction, you may qualify for a refund. For example, if you’re using our services for yourself (instead of on behalf of a business):<br>
    <ul class=".textlegal">
        1. Citizens of the European Union are entitled to a full refund during the 14 days after the subscription begins. Note: This 14-day period begins when the subscription service starts. For example, if you signed up for a one-month free trial, the period begins on the first day of your free trial, so there will be no fees paid as a refund.<br>
        2. If you made a purchase using Single Euro Payments Area (SEPA) direct debit, you're entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A SEPA direct debit refund must be claimed within eight weeks starting from the date on which your account was debited. <br>
        3. If you believe your situation warrants an exception, you can submit your account for review. 
    </ul>
