<%= render 'landing/navbar' %>


	<!-- navigation -->
	
	<div class="containerHelps">
		<div class="celverde">a</div>
		<div class="containerHelp-Account">
			<div class="celverde containerHelpIntroduction">
				<div class="celverde gridHelpIntroduction">
					<h4>We´re here to help.</h4>
					<p class="paragraphAccount">At 1oh1 we are constantly  innovating to bring you the best 
								possible experience.Here you can find important information 
								and solutions to common problems. if you can not find a topic
								or have a suggestion on how we can make the site better 
								please reach out to us at support.1oh1.org.
					</p>
				</div>
				<div class="celverde">2</div>
			</div>
			<div class="celverde section-Account">
				<div class="accountTags">
					<div class="celverde">
						<span>Account</span>
					</div>
					<a href="#">Communication</a>
					<a href="#">How-to...</a>
					<a href="#">Explorer Support</a>
					<a href="#">Guide Support</a>
					<a href="#">Legal</a>

				</div>
				<div class="celverde">section form</div>
			</div>
		</div>
		<div class="celverde">c</div>
	</div>
		




<%= javascript_include_tag 'profile_builder.js' %>