// ---------------------------------------------------------
// @Font Size
// ---------------------------------------------------------
.fsz-12 {
	font-size: 12px!important;
}
.fsz-13 {
	font-size: 13px!important;
}
.fsz-14 {
	font-size: 14px!important;
}
.fsz-15 {
	font-size: 15px!important;
}
.fsz-16 {
	font-size: 16px!important;
}
// ---------------------------------------------------------
// @Font Weight
// ---------------------------------------------------------

.fw-100 { font-weight: 100 !important; }
.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-800 { font-weight: 800 !important; }
.fw-900 { font-weight: 900 !important; }

// ---------------------------------------------------------
// @Line Height
// ---------------------------------------------------------

.lh-0    { line-height: 0 !important; }
.lh-1    { line-height: 1 !important; }
.lh-3\/2 { line-height: 1.5 !important; }
