<section class="my-5">
  <h3 class="my-5 c-black">Popular Categories in <%= current_user.profile ? current_user.profile.country: "" %></h3>

  <div class="row my-4" id="mainPopularExplore">
    <%if @popular_incountry.blank? %>
    Update your Country
    <%else%>
      <% @popular_incountry.each do |category|%>
        <div class="col center text-left popularExploreItem">
          <%= link_to category_path(category.name.downcase,type:"explores") do %>
            <div class="card-skill border">
              <div class="cover"
                   style="background-image: url(<%= category.url %>);">
              </div>
              <h5 class="font-weight-bold">
                <%= category.name %>
              </h5>
            </div>
          <%end%>
        </div>
      <% end %>
    <%end%>
  </div>

  <div class="upcomingBookingsLinks gridLinksShow">
    <a class="gridLessLink" id="showLessPopularExplore">Less</a>
    <div class="showMoreLessMessage" id="popularExploreMessage">
      Showing x of y items
    </div>
    <a class="gridMoreLink" id="showMorePopularExplore">More</a>
  </div>
</section>
