<section class="my-5">
  <h3 class="my-5 c-black">Popular Categories With Explores</h3>

  <div class="row my-4" id="mainPopularRolExplore">
    <%@world_popular_explore_category.each do |category|%>
      <%= link_to category_path(category.name.downcase,type:"explores") do %>
        <div class="col center text-left popularRolExploreItem">
          <div class="card-skill border">
            <div class="cover"
                 style="background-image: url(<%= category.url %>);">
            </div>
            <h5 class="font-weight-bold">
              <%= category.name %>
            </h5>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>

  <div class="upcomingBookingsLinks gridLinksShow">
    <a class="gridLessLink" id="showLessRolExplore">Less</a>
    <div class="showMoreLessMessage" id="popularRolExploreMessage">
      Showing x of y items
    </div>
    <a class="gridMoreLink" id="showMoreRolExplore">More</a>
  </div>
</section>
