.btn-icon-fab {
	background-color: #fff;
	color: #fff;
	width: 45px;
	height: 45px;
	i {
		color: rgb(168, 168, 168)!important
	}
}

.btn-success {
	padding: 0.5rem !important;
	text-transform: none;
	min-width: 80px;
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
}