.timeline-calendar-wrap {
	.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
		border-color: #f2f2f2!important;
	}
	.booking-add-event-btn {
		cursor: pointer;
		position: absolute;
		top: 5px;
		left: 23px;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
		z-index: 10;
		background-color: #fff;
		color: #3c4043;
		font-weight: 500;
		border-radius: 24px;
		height: 48px;
		margin-top: 4px;
		width: auto;
		box-sizing: border-box;
		border: none;
		padding: 0;
		.booking-add-event-btn-svg {
			height: 36px;
			padding-left: 4px;
			width: 48px;
		}
		.booking-add-event-btn-text {
			color: #3c4043;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: .25px;
			text-transform: none;
			display: inline-block;
			line-height: 14px;
			padding: 0 24px 0 4px;
			min-width: 36px;
			max-width: 300px;
			text-align: left;
			overflow: hidden;
			white-space: nowrap;
		}
	}
	.dropdown-item:active {
		background-color: #ac8bec;
	}
	.dropdown-toggle {
		&:after {
			display: none;
		}
		i {
			color: rgb(77, 77, 77);
		}
	}
	.fc-event {
		padding: 20px 15px;
		border-radius: 10px;
	}
	.fc-event .fc-title {
		font-size: 14px;
		font-weight: bold;
		color: #2b2b2b;
		padding: 0;
	}
	.fc-event-description {
		font-size: 13px;
		color: #2b2b2b;
		margin-top: 5px;
		margin-bottom: 20px;
	}
	.fc-event-name {
		position: absolute;
	    bottom: 20px;
	}
	.fc-event-star {
		position: absolute;
		right: 15px;
		top: 20px;
		font-size: 15px;
		color: rgb(255, 190, 129);
	}
	.fc-event.unavailable {
		border-color: rgb(252, 227, 233);
		border-left: 5px solid rgb(249, 147, 168);
		background-color: rgb(252, 227, 233);
	}
	.fc-event.pending {
		border-color: rgb(255, 240, 220);
		border-left: 5px solid #ffbc7d;
		background-color: rgb(255, 240, 220);
	}
	.fc-event.guiding {
		border-color: rgb(233, 227, 241);
		border-left: 5px solid rgb(182, 134, 224);
		background-color: rgb(233, 227, 241);
	}
	.fc-event.exploring {
		border-color: #e6e7e7;
		border-left: 5px solid #aaaaaa;
		background-color: #e6e7e7;
	}
	.fc-event .fc-time {
		display: none;
	}
	.fc-toolbar {
		display: none;
	}
	.fc-dayGridWeek-view, .fc-dayGridMonth-view {
		.fc-widget-header {
			margin-right: 0!important
		}
		.fc-day-top {
			font-size: 13px;
		}
		.fc-event-container {
			padding: 5px 1px;
		}
		td.fc-today {
			background: rgba(172, 139, 236, 0.3);
		}
		.fc-event {
			min-height: 100px;
			overflow: hidden;
			.fc-title {
				font-size: 12px;
			}
		}

		.fc-event-description, .fc-event-name {
			font-size: 12px;
		}
		.fc-day-header.fc-widget-header {
			font-weight: normal;
			text-transform: uppercase;
			font-size: 13px;
			padding: 10px;
		}
	}
	.fc-timeGridDay-view {
		.fc-body > tr > .fc-widget-content {
			border-color: #f3f3f3;
		}
		td.fc-today {
			background: white;
		}
		.fc-day-header.fc-widget-header {
			font-size: 15px;
			padding: 6px 0;
		}
		/* dots border */
		.fc-time-grid .fc-slats .fc-minor td {
			border-top: none;
		}
		/* current date */
		.fc-head {
			display: none;
		}
		/* border around event cels */
		.fc-bg .fc-widget-content {
			border: none!important;
		}
		/* border top of times*/
		.fc-slats tr > td:first-child {
			border-top: none;
			border-right: none!important;
			position: relative;
			bottom: 35px;
		}
		.fc-slats tr > td:last-child {
			border-left: none!important;
		}
		/* increate cells height */
		.fc-time-grid .fc-slats td {
			height: 60px;
		}
		/* indicator color */
		.fc-now-indicator {
			border: 0 solid #2b2b2b
		}
		.fc-time-grid .fc-now-indicator-line {
			border-top-width: 2px;
		}
		.fc-axis.fc-time.fc-widget-content{
			text-align: center;
		}
		.fc-axis {
			width: 90px!important;
		}


		.fc-slats tr:first-child .fc-time {
			color: white;
		}
	}

	&.slot-duration-12 {
		.fc-timeGridDay-view {		
			.fc-slats tr > td:first-child {
				bottom: 22px;
			}

			.fc-time-grid .fc-slats td {
				height: 40px;
			}
		}
	}
}
.very-custom-calendar-wrap {
	border-bottom: 1px solid #dee2e6;
	.month-placeholder {
		font-weight: bold;
	}
	.months-wrap {
		overflow: auto;
		white-space: nowrap;
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		padding: 20px 0;
	    position: relative;
		.month {
			color: #4d4d4d !important;
			font-size: 11px;
			letter-spacing: 2px;
			border-radius: 25px;
			padding: 5px 10px;
			margin: 0 5px;

			&.active {
				background-color: #ac8bec;
				color: white!important;
			}
		}
	}
}
.very-custom-calendar, .personal-very-custom-calendar {
	background-color: #fff;

	.fc-highlight, .fc-today {
		border-radius: 50%;
	}
	.fc-highlight {
		background: rgb(255, 240, 220);
		opacity: 1;
	}
	.fc-right {
		position: relative;
    	right: -11px;
	}
	.fc-toolbar.fc-header-toolbar {
		display: none;
	}
	.fc-dayGrid-view .fc-body .fc-row {
		min-height: 10px;
	}
	.fc-dayGrid-view .fc-day-top .fc-day-number {
		float: none!important;
		font-size: 13px;
	}
	.fc-day-top.fc-today {
		color: white;
	}
	.fc-button .fc-icon {
		color: rgb(77, 77, 77);
	}
	.fc-dayGrid-view .fc-body .fc-row {
		min-height: 40px!important
	}
	.fc-day-top {
		text-align: center;
	}

	.fc-row.fc-widget-header {
		border-right: none!important;
		padding: 15px 0;
	}
	.fc-button-primary:not(:disabled):active:focus {
		box-shadow: none!important;
	}
	.fc-button-primary:not(:disabled):active {
		background-color: white;
		border-color: white!important;
		color: #00878c;
	}
	.fc-row .fc-content-skeleton {
		position: relative;
		top: 12px;
	}
	.fc-head-container.fc-widget-header {
		border: none;
	}
	.fc-day-header.fc-widget-header {
		border-right: 1px solid white;
		border-left: 1px solid white;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 13px;
	}
	&.fc-unthemed td {
		border: none!important;
	}
	.fc-button-group {
		button {
			background: white;
			border: none;
			box-shadow: none;
		}
	}
	.fc-day.fc-widget-content.fc-disabled-day {
		background: white
	}
	.fc-day-top.done {
		text-decoration: line-through;
		color: #ccc;
	}
	.fc-day.fc-widget-content.fc-today {
		background-color: #ac8bec;
	}
}
