<div class="modal fade"
	id="postCheckoutFailedDialog"
	tabindex="-1"
	role="dialog"
	aria-labelledby="postCheckoutFailedDialog"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="logo-container">
				<img height="35px" src="<%= image_path('icon.png') %>" alt="icon">
				<span>
					1oh1
				</span>
			</div>

			<div class="main-content">
				<!-- Failed -->
				<div class="failed-container d-none">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
					  <circle class="path circle" fill="none" stroke="#ed1c23" stroke-width="3" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
					  <line class="path line" fill="none" stroke="#ed1c23" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
					  <line class="path line" fill="none" stroke="#ed1c23" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
					</svg>

					<h5>
						Could not Process!
					</h5>
					<p>
						We could not process the payment. <br>
						Please try a different payment method.
					</p>
				</div>
			</div>

			<div class="modal-footer justify-content-center">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
			</div>
		</div>
	</div>
</div>