// Place all the styles related to the Explores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-blocks-cover.explores{
  min-height: 500px !important;
  padding-top: 100px!important;
}

.schedule{
  position: absolute;
  bottom: 185px;
  left: 20px
}