// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover .row {
  min-height: 400px !important;
}

.fix-profile{
  position: absolute;
  bottom: -65px;
  left: 35px!important;
  height: 165px !important;
  width: 165px !important;
  border-radius: 300px !important;
  border-color: #0b0b0b !important;

}

.fix-stars{
  position: absolute;
  bottom: -205px!important;;
  left: 205px!important;
  height: 165px !important;
  width: 165px !important;
  border-radius: 300px !important;
  border-color: #0b0b0b !important;

}

.icon-review{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.fix-project-dev{

  height: 45px !important;
  width: 45px !important;
  border-radius: 50px !important;
}

.button-addon-profile{
  background-color: #8BC63F;
  padding: 10px 20px;
  border-radius: 22px;
}

.fix-project-status{
  position: absolute;
  bottom: 20px;
  left: 10px;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50px !important;

}

.modal{
    z-index: 9999;
}

@media (min-width: 576px)
{
  .modal-dialog{
  min-width: 90%!important;
  z-index: 10;
  }
  
}

.btn-link{
  color: #e80b64!important;
  text-decoration: none!important;
}

.button-addon{
  padding: 8px 20px!important;
}
.scroll{
  max-height: 550px;
  overflow-y: auto;
}

.field_input{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding-left: 25px!important;
}

.site-blocks-cover {
  .page-banner {
    .container {
      margin: 0 auto;
    }
  }
}

.cel{
    /*border: solid #eb2e2e;*/
}

/*css for the new design of profile section*/

.celprofile {
    /*border: solid #eb2e2e;*/
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
    margin-bottom: 10px;
}
#description {
    display: grid;
    grid-template-columns: 20fr 1fr;
    margin-left: 15px;
    padding-left: 15px;
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #d1d4e1;
}
#grid-menu {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    /*padding-bottom: 25px;*/
    border-bottom: 2px solid #d1d4e1;
    margin-right: 35px;
    margin-left: 15px;
}
#score {
    display: grid;
    grid-template-columns: 15fr 25fr 60fr;
    margin-top: 8px;
}
#subgridscore {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 14px;
}
.create {
    color: #838383;
    cursor: pointer;
    display: none;
}
.imgfondo {
    width:100%;
    height: 350px;
}
.fondo {
    height: 100%;
}
.start {
    color: #fde721;
    font-size: 35px;
}
.names {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0px;
    margin-left: 15%;
}
.city {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 0px;
}
.description {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 5px;    
}
.languages {
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
}

.tab{
    display: none
}

.tabContainer .selected{
    display: block;
}

.profile-tab {
  width: 394px;
  justify-self: center;
}

.profile-tab #material-tabs a{
  width: 128px;
}

.tabLink {
    color: #000000;
    
    font-weight: bold;
    font-size: 16px;
}
.tabOptions .selected{
  color: #1cc02a;
  text-decoration: underline;
}

.tabOption {
    text-align: center;
}

.txtrating {
    font-weight: bold;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.celrating {
    margin-left: 35px;
    align-self: center;
    padding-top: 5px;
}
.cel {
    /*border: solid #1cc02a;*/
}
.tab{
    display: none
}
.selected{
    display: block;
}
.exploreSection{
    display: grid;
    grid-template-rows: 35px auto 35px auto 35px;     
}
.interestsHeader{
    display: grid;    
    grid-template-columns: 35px 85px 45px auto;
}
.interestsTitle{
    grid-column: 2/3; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 15px;
}
.interestsIcon{
    grid-column: 3/4;
}
.interestsContent{    
    display: grid;
    grid-template-rows: auto 35px;
    grid-template-columns: 35px 80% auto;
}
.interestsImages{
    grid-column: 2/3;
    display: grid;    
    grid-template-columns: repeat(auto-fill,minmax(70px,1fr));
    grid-gap: 10px;
}
.interestsMoreLink{
    grid-row: 2/3;
    grid-column: 2/3; 
    justify-self: end;
    align-self: end;    
}
#interestsMoreLink{
    color: #9f9ea1;
    text-decoration: underline;
}

.emptyInterests {
  grid-column: 1/-1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;   
  justify-self: center;
  align-self: center;
}

.tool-Tip{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #6b6b6b;
}

.tool-tip a :hover {
    color: #6b6b6b;
}
.aria-describedby {
    color: #6b6b6b; 
}
.interestsImage{
    display: grid;    
}
.imagesInterests{
    justify-self: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.reviewsTitle{
    display: grid;
    grid-template-columns: 35px 85px auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 17px;   
}
#forReviewsTitle{
    grid-column: 2/3;
}
.reviewsContent{
    display: grid;
    grid-auto-rows: 200px;    
    grid-row-gap: 25px;
    grid-template-columns: 35px 70% auto;
}

.emptyReviews {
  grid-column: 2/3;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;   
  justify-self: center;
  align-self: center;
}

.reviews{
    display: grid;
    grid-column: 2/3;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 4fr; 
    margin-bottom: 25px; 
}
.reviewImage{
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 1fr;
    border-radius: 15px;
    border: 2px solid #d1d4e1;
    margin-right: 25px;    
}
.reviewInfo{
    display: grid;
    grid-template-rows: 45px repeat(3,50px);
    grid-template-columns: 45px 5fr 3fr 4fr;
}
.reviewRate{
    grid-row: 1/2;
    grid-column: 1/3;
}
.reviewViewAllReviews{
    grid-row: 1/2;
    grid-column: 4/5;
}
#reviewViewAllReviews{
    color: #9f9ea1;
    text-decoration: underline;
}
.commentImage{
    grid-column: 1/2;
}
.commentProfileImage{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.comment{    
    grid-column: 2/5;
}
.moreLink{
    display: grid;
    grid-template-columns: 35px auto;
}
#forMoreLink{
    display: grid;
    grid-column: 2/3; 
    align-self: end;
}
.startXs {
    color: #fde721;
    font-size: 30px;
    width: 30px;
}
.reviewImageGrid{
    grid-row: 1/3;
    grid-column: 1/2;
}
.reviewLabel{    
    grid-row: 2/3;
    grid-column: 1/2;
    background: #ffffff;
    border-radius: 0px 0px 15px 15px;
    padding-top: 10%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}
.imageReview{
    height: 180px;
    width: 100%;
    border-radius: 15px;
}
.editIcon{
    height: 23px;
    width: auto;
    display: none;
}
#subgridscoreXs {
    display: grid;
    grid-template-columns: repeat(5,27px) 12px;
}
#moreLink{
    color: #9f9ea1;
    text-decoration: underline;
}
.memberView{
    position: fixed;    
    top: 64px;
    left: 310px;
    width: 180px;
    height: 120px;
    background: #ffffff;
    border-radius: 0px 0px 5px 5px;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 10;
    display: none;
}
.profileView{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}
.viewAsMember{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #9f9ea1;
}
.rateNumber{
    font-size: 11px;    
    align-self: end;
    color: #9f9ea1;
}

/*Projects*/
.projectsContent{
    display: grid;    
    grid-template-columns: 28px 56% 4px;
    grid-template-rows: 120px auto;
    grid-row-gap: 50px
}

.projectContainer{
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-column: 2/3;
    grid-column-gap: 20px;
}
.projectImages{
    display: grid;
    grid-template-rows: 200px 45px;
    grid-row-gap: 5px
}
.projectPhoto{
    position: relative;
    grid-row: 1/2;
}

.projectIcon {
  position: absolute;
  width: 20%;
  height:auto;
  top: 0;
  right: 0;
  z-index: 5;

}
.projectProfiles{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40px,1fr));
    grid-gap: 1px;
}
.projectInfo{
    display: grid;
    grid-template-rows: 25px auto auto;
    grid-template-columns: 90% 10%;
}
.projectTitle{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    align-self: start; 
}
.editIconProject{
    grid-row: 1/2;
    grid-column: 2/3;
}
.projectDescription{
    grid-row: 2/3;
    grid-column: 1/-1;
}
.projectSkills{
    grid-row: 3/4;
    grid-column: 1/-1;
}

.projectPicture{

    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.profileImage{

    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.descriptionTitle{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

}

.descriptionText{
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*css related to categories modal
desktop version*/
.modalCategories {
  font-family: 'Source Sans Pro', sans-serif;
} 

#categoriesModal .modal-dialog {
  min-width: 60% !important;
}

#categoriesModal .redcel {
  /*border: 1px solid red;*/
}

.boldText {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: black;
}

.modal .title {
  font-size: 14px;
}

#yourInterests {
  align-self: end;
  margin-bottom: 15px;
}

.modal .modal-body {
  padding: 2vw;
}

.newCategoryMessage {
  font-size: 14px;
  align-self: center;
}

.createCategory {
  color: blue;
  cursor: pointer;
}

.inputContainer {
  position: relative;
}

.oh1SearchInput {
  border-radius: 10px;
  width: -webkit-fill-available;
  margin: 8px 5px;
  margin-right: 30px;
  padding: 5px 8px;
  border: 1px solid; 
  font-size: 14px;
}

.inputRightIcon {
  position: absolute;
  top: 11px;
  right: 35px;
}

.modalCategories {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 70px auto;
}

.addInterests {
  display: grid;
  grid-template-columns: 60% 40%; 
} 


.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(5,1fr); 
  grid-row-gap: 25px;
  grid-column-gap: 15px;
}

.categoryCard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 70px 40px;
  border-radius: 10px; 
  position: relative;
  border: 1px solid #9a9a9a;
}

.categoryPicture {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  border-radius: 10px; 
}

.categoryFooter {
  grid-column: 1/3;
  grid-row: 2/3; 
  border-radius: 0px 0px 10px 10px;
  background-color: white; 
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.categoryName {
  font-size: 13px;
  align-self: center;
  justify-self: center;
}

.pendingIcon {
  position: absolute;
    top: 4px;
    right: 4px;
    font-size: 30px;
    color: #4b4b4b;
    background-color: #aaaaaa;
}

.removeIcon {
  font-size: 14px;
  align-self: center;
  justify-self: center;
  color: red;
  cursor: pointer;
}

/*Edit profile modal*/

#projectsModal .modal-dialog {
  min-width: 60% !important;
}

.containerProfileModal {
    margin: 0;
    margin-right: 0px;
    padding: 0;    
    display: grid;
    grid-template-columns: 50fr;    
}
#gridBackground {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;    
    margin-bottom: 100px;
    background-size: cover;
}

#gridForm {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 55px;
    padding-right: 2rem;
    padding-left: 2rem;
}
#gridLabels {
    display: grid;
    grid-template-columns:  1fr 1fr;
}
#gridPersonal {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
}
#gridSelect {
    display: grid;
    grid-template-columns: 20fr 70fr;
}
#gridOption {
    display: grid;
    grid-template-columns:100fr;
}
#gridProfile {
    display: grid;
    grid-template-columns: 10fr 10fr 80fr;
}
#gridLocations {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
#gridAdd {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
}
#griCreator {
    display: grid;
    grid-template-columns: 10fr 90fr 10fr;
    margin-top: 15px;
}
#gridText {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
}
#gridCheck {
    display: grid;
    grid-template-columns: repeat(4,32px) 1fr;
    margin-top: 5px;
    align-items: center;
}
#gridIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}
#gridCategories {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
}
#gridImage {
    display: grid;
    grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr 10fr; 
    grid-gap: 10px;
}
.gridCollaborator {
    display: grid;
    grid-template-columns: 110px auto;
    grid-template-rows: auto;    
    padding: 3px;
    margin-top:10px;
    border-bottom: 1px solid  rgb(170, 168, 168);
    border-top: 1px solid  rgb(170, 168, 168);
}
.pStatus {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 8;
}
p {
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.txtL {
    font-size: 15px;
}
.inputFname {
    width:98%;
    height: 30px;
    border-radius: 5px;
    border:solid 1px #c7c6c6;
}
.inputLname {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border:solid 1px #c7c6c6;
}
.inputP {
    width:-webkit-fill-available;
    height: 35px;
    border-radius: 5px;
    border:solid 1px #c7c6c6;
}

.select {
    width:-webkit-fill-available;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #c7c6c6;
}
.btn {
    border-radius: 5px;
}
.btnSave {
    width: 150px;
}
.buttonSave{
    background: #8cc63f;
    color: #ffffff;
    width: 88%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttonCancel {
    background: #ffffff;
    color: #000000;
    width: 88px;
    padding: 4px;
    border:solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.inputTitle {
    width: 100%;
    height: 20px; 
    margin-top: 10px;
    border-radius: 5px;
    border:solid 1px #c7c6c6;
    height: 40px;
}
.input {
    padding-right: 18px;
}
.inputDescription{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border-radius: 5px;
    border:solid 1px #c7c6c6;
}
.iptC {
    margin-top: 5px;
    padding-right: 10px;
    padding: 2px;

}
.inputC {
    width:-webkit-fill-available;
    padding: 5px;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
}

.tags-input {
    border: 1px solid #c7c6c6;
    display: inline-block;
    border-radius: 5px;
}

.tags-input .tag {
    font-size: 85%;
    padding: 3px;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
    cursor: pointer;
}

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(-1.2);
    margin-left: 0.70em;
    -webkit-appearance: none;
   -moz-appearance: none;
}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
}

.txtPersonal {
    width:-webkit-fill-available;
    padding: 20px;
    border-radius: 5px;
}
.btnfile {
    padding: 50px;
    background-color: #631919;
}

.margin {
    margin-top: 20px;
}
.marginOption {
    margin-top: 10px;
}

#name {
    align-self: center;
    font-weight: bold;
    padding-left: 17px;
}
.check {
    border: 20px;
    width: 20px;
    height: 20px;
}
.imgCenter {
    justify-self: center;
    border: 0px;
    border-radius: 5px;    
}
.collaborator {
    align-self: center;
}
.collaborators{
  display: grid;
  grid-column: 1/3;
  grid-template-columns: repeat(auto-fill,minmax(60px,1fr));
  grid-gap: 10px;
  margin: 10px 0px;
}
#gridCheck {
    display: grid;
    grid-template-columns: 4fr 6fr 90fr;
    margin-top: 5px;
    align-items: center;
}
.add {
    align-self: center;
    padding-left: 10px;
}
.titleCreator {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4
}
.titleAdd {
    align-self: center;
}
.addDesc{
    margin-top: 20px;
}
.imgCreator{
    margin-top: 15px;
}
#projectsModal .add .hrefAdd {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    color: rgb(27, 212, 245);
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: #064bb3;
}
input[type=checkbox i] {
    background-color: #d1cdcd;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0 5px;
    padding: 10px;
    border:solid 1px #c7c6c6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;    
}
.imgBackgraound {
    position: relative;
    bottom: -150px;
    margin-bottom: 125px;
    margin-left: 30px;
}
.labelYes {
    padding-left: 28px
}
.profileImg{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid #ffffff;
}
.skillsIcons{
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.profileinput{
  border-radius: 5px;
  border:solid 1px #c7c6c6;
}

#profileModal .modal-dialog {
  min-width: 60% !important;
}
.bodyEditProfile{
  padding: 0;
  overflow-y: scroll;
  max-height: 70vh;
}
.creatorImage{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.projectsIcons{
  height: 100px;
  width: 100px;
}
.projectsIconsLabel{
  text-align: center;
}
.projectProgressButtons{
  border-radius: 5px;
  border: 1px solid #c7c6c6;
  background: none;  
}
.bodyEditProject{
  padding: 0;
  padding-bottom: 2rem;
  overflow-y: scroll;
  max-height: 70vh;
}
.collaboratorImage{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
input[type=radio] {
  border: 1px solid #c7c6c6;
  border-radius: 5px;
  padding: 65px 50px;
  -webkit-appearance: none;
  position: absolute;
}
input[type=radio]:checked {
  background-size: 9px 9px;
}
.exit {
  position: fixed;
  z-index: 4;
  padding-top: 37px;
  right: 2%
}
.btnExit {
  background: #ffffff;
  padding: 3px;
  color: #1f3ff8;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
  border-color: #ffffff;

}
.toggled .exit  {
 display : none  //oculto 
}
.toggled .memberView {
 display: block;
} 
.toggled .create {
    display:block
}


.btnCalendar {
    background: #ffffff;
    color: #000000;
    width: 100px;
    font-weight: bold;
    border-color: #afacac70;
    padding: 4px;
    border-radius: 5px;
}
.buttonCalendar{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    bottom: 10px;
}
.btnMessage {
    background: #ffffff;
    color: #000000;
    width: 100px;
    font-weight: bold;
    border-color: #afacac70;
    padding: 4px;
    border-radius: 5px;
}
.buttonMessage {
    position: relative;
    bottom: 14px;
    padding-right: 4px;
}
.toggled .buttonCalendar {
    display: none;
}
.toggled .buttonMessage {
    display: none;
}

.toggled .names {
    margin-left: 20px;
}
.toggled .pcity {
    display: grid;
}

.pcity {
    display: grid;
    grid-column-start: 1;
    padding-left: 20px;
}
.pLanguages {
    padding-left: 20px;
}
.pDescription{
    padding-left: 20px;
}
.toggled .celd {
    display: block;
}
.celd {
    display: none;
}
.toggled .imgView{
    display: none;
}
.imgView {
    position: absolute;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    bottom: 15px;
    left: -3px;
    border: 3px solid #ffffff;
}
.pname {
    position: relative;
}
.toggled .editIcon {
    display: block;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.grid-Pop {
    display: grid;
    grid-template-columns: 5vw 10vw 5vw;
    border: solid #e61616;
}

.starsSpan{
    grid-column-start: 1;
    grid-column-end: 4;
}

.rateSpan{
    grid-column-start: 1;
    grid-column-end: 4;
}

.yellowBar{
    border: solid gray;
    background-color: yellow;
}

.whiteBar{
    border: solid gray;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.collaboratorsSelect{
  grid-column: 1/3;
  height: 70px;
}
.btnSave #submit{
  border-radius: 5px;
}
.buttonSaveProject{
    background: #8cc63f;
  color: #ffffff;  
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
}


.projectsSearchCreate{
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 40% repeat(3,10%) 30%;
  grid-template-rows: 1fr;
}
.inputSearchProjects{
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  grid-row: 1/3;  
}
.searchProjectsInput{
  height: 30px;
  border: none;
  outline: none;
  font-size: 14px;  
  background: none;
  border-bottom: solid 2px #d1d4e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}
.searchProjectIcon{
  position: absolute;
}
.checkBoxProjectIcon{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 1/2;
}
.checkBoxProject{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 2/3;
}
.buttonCreateProject{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row: 1/3;
}
.projectProgressIcon{
  height: 80px;
  width: auto;
}
.buttonCreate{
  background: #8cc63f;
  color: #ffffff;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
}

.cell{
    border: solid green;
}
  
.grid{
    border: solid #eb2e2e;
}
