// start: modal | Modal pre running late
// > Header
#preRunningLate,
#preRunningLateSent{

    & .modal-dialog{
        min-width: auto !important;
        border: 1px solid #000;

        & .modal-content{
            border-radius:0;
        }

        & .modal-header{
            border: none;
            padding-bottom: 1%;
        }
    }
}

.detailsReceiver{   // Container description top modal       
    display: grid;
    grid-template-columns: 5% 95%;
}


.stylesDetails{     // descripcion top modal
    font-weight: 600;
    padding: 0 4%;
    font-size: 20px;
}

// > Body
.customModalBoddySessions{
    padding-bottom: 0 !important;
    padding-top: 0;

    & .container{
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 30% 20%;
    }
}

.chatAreaSession{           // Container chat area
    position: relative;
    margin-top: 1%;
    border-radius: 5px;

    & textarea{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: 2px solid #000000;
        padding:2% 4%;
        resize: none;
    }

    & .characterCounter{
        position: relative;
        font-size: 14px;
        left: 92%;
        top: 82%;
    }
}

.noteChatSession{
    margin-top: 1%;
    padding: 3% 8%;
    text-align: left;

    & p{
        font-size: 15px;
    }
}

.btnModalSessionConfirm{
    background-color: #B22F41;
    color: #ffffff;
    border: 2px solid #000;
    padding: 2% 0;
}

// > footer
.containerCancelMessage{
    border-top: 0;
    margin-bottom: 5%;

    & .linkCancelMessage{
        position: absolute;
        left: 0;
        margin-left: 47%;
        text-decoration: underline !important;
    }
}

// >> end

// start modal |  pre running late sent
#preRunningLateSent {
    
    & .customModalBoddySessions .container{
        grid-template-rows: 40% 30% 20%;
        margin-top: 2%;
    }

    & .detailsReceiver{
        grid-template-columns: 11% 89%;
    }
}
// >> end

// start modal | pre cancellation warning
#preCancelationWarning{  
    
    & .modal-content{
        border-radius: 0;
    }
    
    & .modal-dialog{
        min-width: 40% !important;
        border-radius: 0;
    }

    & .customModalBoddySessions .container{
        grid-template-rows: 30% 30% 40%;
    }

    .containerButtonsCancellation{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1rem 3rem;

        & button{
            margin: 0% 8%;
            font-weight: bold;
        }
    }

}

.cancellationWarningHeadGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3vh auto;
    border: none;

    & .container{
        display: inherit;
        margin-top: 5%;
    }

}

.iconCloseModalCancellation{    // Icon of close modal
    width: 4%;
    height: auto;
    justify-self: end;
    filter: invert(55%);

    &:hover{
        cursor: pointer;
        filter: invert(45%);
    }
}

.cancellationModalTitle{        // Title modal
    justify-self: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: 1px solid #cecece;
}

.noticeCancelSession{           // Notice modal body
    display: inherit;
    align-self: end;
    padding: 0rem 5rem;

    & p{
        font-weight: bolder;
    }
}

.confirmationTextCancellation{
    display: inherit;

    & span{
        justify-self: center;
        align-self: center;
        font-size: 1.3rem;
        font-weight: bold;
    }
}
// >> end


//  >> >> >> | View session cancelated 

.containerSessionCancelated{
    display: grid;
    width: 100vw;
    height: 80vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 50% 40%;
    padding: 2% 20%;

    & .containerTitleCancelated{
        display: inherit;
        align-self: center;

        & h3{
            font-weight: bold;
        }
    }

    & .containerNoteCancellation form{
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-rows: 20% 50% 30%;
    }

    & .containerDetailsCancellation{
        display: inherit;
        grid-template-columns: 90% 10%;
        margin-top: 7%;

        & .col-left,
        & .col-right{
            display: grid;
            width: 100%;
            grid-template-rows: repeat(4,1fr);
        }

        & .btnDetailsCancellation{
            background-color: #B22F41;
            color: #ffffff;
            border: 1px solid #000;
            padding: 1%;
            width: 20%;
            font-size: 0.6rem;
            font-weight: bold;
        }
    }
}

.noteCancellationLabel{
    align-self: end;
}

.noteCancellationTxtArea{
    border: 1px solid #aeaeae;
    border-radius: 5px;
    padding: 1%;
}

.noteCancellationSubmit{
    align-self: end;
    width: 15%;
    background-color: #B22F41;
    color: #ffffff;
    border: 1px solid #000;
    padding: 2% 1%;
    font-size: .8rem;
}

.btnCloseCancellation{
    grid-row: 4/5;
    background-color: #7C95BB;
    color: #ffffff;
    border: 1px solid #000;
    padding: 1%;
    font-size: .7rem;
}

.detailsCancellationText{
    font-weight: bolder;

.isHide {
    height: auto;
    width: 100%;    
    color: #000;
    background: #ffffff;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.roomBG {
    display: grid;
    align-items: end;
    position: relative;
    width: 100%;
    height: 110vh;
    background: #767676;
}
.roomBar {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    position: relative;
    background: #ffffff;
    bottom: 0;
    display: grid;
    grid-template-columns: 140px auto 30%;
    grid-template-rows: auto auto auto auto;
}
.showRoomBar {    
    opacity: 1; 
    pointer-events: all;
}
.roomContent {
    width: 100%;
    height: auto;
}
.withPic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.roomTitle {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    grid-row: 1/2;
    grid-column: 1/-1;
    line-height: 90px;
    padding-left: 20px;
}
.withPersonPic{
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/-1;
}
.withPerson {
    grid-column: 2/3;
    grid-row: 2/3;
}
.roomStatus {
    grid-column: 2/3;
    grid-row: 3/4;
}
.roomTime {
    font-weight: 700;
    display: grid;
    grid-template-columns: 75px auto;
    grid-column: 3/4;
    grid-row: 2/3;
}
.roomJoinButton {
    grid-column: 3/4;
    grid-row: 3/4;
}
.btnJoinRoom{
    background-color: #B22F41;
    color: #ffffff;
    border: 1px solid #000;
    padding: 2% 0;
    width: 60%;
    border-radius: 5px;
}
.startsRoomTime {
    color: #ee5050;
}
.toolsIcons {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,55px);
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
}
.callIcons {
    background: #fff;
    border-radius: 50%;

}