<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag( { :action => :create, }, { :method => :post }) do %>
      <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Category</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">

              <div class="form-group">
                <label for="exampleInputEmail1">Category Name :</label>
               <input type="text" class="form-control" name="name" placeholder="Name">
              </div>

            </div>
            <div class="col-md-3">

              <div class="form-group">
                <label for="exampleInputEmail1">Description :</label>
               <input type="text" class="form-control" name="description" placeholder="Description">
              </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Category Image :</label>

                 <input type="file" class="form-control" id="cat_url">
                 <i style="display:none;margin-left: 91%;float: right;margin-top: -11%;position:absolute" class="fa fa-spinner" id="loaderCategoryImage"></i>
                  <i style="display:none;margin-left: 91%;float: right;margin-top: -11%;color:green;position:absolute" class="fa fa-check" id="checkCategoryImage"></i>
                 <input type="text" hidden id="url" name="url">
                </div>

            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
