<div class="site-blocks-cover page-banner inner-page-cover" style="background-image: url(<%= image_path('Section/party.jpeg') %>);" data-aos="fade" id="section-home">
	<div class="container position-relative zi-1">
		<div class="row align-items-center justify-content-center text-center">
			<div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
				<div class="  text-left pb-1 mb-4">
					<h1 class="text-white font-weight-bold"> Categories </h1>
				</div>
			</div>
		</div>
	</div>
</div>
