<div class="modal" id="editModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <%= form_tag( category_path(Category.first.id), { :method => :patch }) do %>
      <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Category</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <input type="text" hidden id="edit_category_id" name="editid">
              <div class="form-group">
                <label for="exampleInputEmail1">Category Name :</label>
               <input type="text" class="form-control" id="editname" name="name" placeholder="Name">
              </div>

            </div>
            <div class="col-md-3">
              <input type="text" hidden id="editid" name="editid">
              <div class="form-group">
                <label for="exampleInputEmail1">Description :</label>
               <input type="text" class="form-control" id="editdescription" name="description" placeholder="Description">
              </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Category Image :</label>
                   <img alt="Image" id="editurl" style="height:60px">
                   <input type="file" class="form-control categories" id="edit_url">
                   <input type="text" hidden id="edurl" name="url">
                </div>

            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
