<section class="my-5">
  <h3 class="my-5 c-black">Popular Categories With Guides</h3>

  <div class="row my-4" id="mainPopularRol">
    <%@world_popular_guide_category.each do |category|%>
        <div class="col center text-left popularRolItem">
            <%= link_to category_path(category.slug,type:"guides") do %>
              <div class="card-skill border">
                <div class="cover"
                     style="background-image: url(<%= category.url %>);">
                </div>
                <h5 class="font-weight-bold">
                  <%= category.name %>
                </h5>
              </div>
            <%end%>
        </div>
    <%end%>
  </div>

  <div class="upcomingBookingsLinks gridLinksShow">
    <a class="gridLessLink" id="showLessRol">Less</a>
    <div class="showMoreLessMessage" id="popularRolMessage">
      Showing x of y items
    </div>
    <a class="gridMoreLink" id="showMoreRol">More</a>
  </div>
</section>
