<section class="my-5">
  <h3 class="my-4">Popular with Guides</h3>

  <div class="row">
    <div class="col text-center">
      <div class="custom-card card-extra-small my-3">
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/business-3152586_640.jpg') %>);">
          <div class="texts-wrap">
            <div class="main-text">Law</div>
            <div class="sub-text">teaching</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="custom-card card-extra-small my-3">
        <div class="has-bg"  style="background-image: url(<%= image_path('Skills/cigar-3768640_640.jpg') %>);">
          <div class="texts-wrap">
            <div class="main-text">Woodworking</div>
            <div class="sub-text">art</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="custom-card card-extra-small my-3">
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/people-2587062_1920.jpg') %>);">
          <div class="texts-wrap">
            <div class="main-text">Music</div>
            <div class="sub-text">production</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="custom-card card-extra-small my-3">
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/pure-843893_640.jpg') %>);">
          <div class="texts-wrap">
            <div class="main-text">Photoshop</div>
            <div class="sub-text">editing</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
