<section class="my-5">
  <h3 class="my-5 c-black">Popular Categories in <%= current_user.profile ? current_user.profile.country: "" %></h3>

  <div class="row my-4">
    <%if @popular_incountry.blank? %>
    Update your Country
    <%else%>
      <% @popular_incountry.each do |category|%>
        <div class="col center text-left">
          <%= link_to category_path(category.name.downcase,:type=>"guides") do %>
          <div class="card-skill border">
            <div class="cover"
                 style="background-image: url(<%= category.url %>);">
            </div>
            <h5 class="font-weight-bold">
              <%= category.name %>
            </h5>
          </div>
        </div>
        <% end %>
      <%end%>
    <% end %>
  </div>

  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-link show-more-button">Show more</button>
    </div>
  </div>
</section>
