<section class="my-5">
  <h3 class="my-4">Looking for something specific?</h3>

  <div class="row">
    <div class="col text-center">
      <div class="custom-card card-small my-3 block-margin-center">
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/business-3152586_640.jpg') %>);">
          <div class="texts-wrap">
            <div class="main-text">Categories</div>
            <!-- <div class="sub-text">editing</div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="custom-card card-small my-3 block-margin-center">
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/cigar-3768640_640.jpg') %>);">
          <div class="texts-wrap">
            <div class="main-text">Explorers</div>
            <!-- <div class="sub-text">editing</div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col text-center">
      <div class="custom-card card-small my-3 block-margin-center">
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/business-3152586_640.jpg') %>);">
          <div class="texts-wrap">
            <div class="main-text">Projects</div>
            <!-- <div class="sub-text">editing</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
